
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div style="text-align:center">

    <h3><b>IBRAHIM KHALIL</b></h3>
    <h5>E-mail :<i>ibrahim@gmail.com</i></h5>
    <h5>Mobile :<i>01515619886</i></h5>

    <h3><b>ZAHIDUL EMON</b></h3>
    <h5>E-mail :<i>zahidulemon@gmail.com</i></h5>
    <h5>Mobile :<i>01624646836</i></h5>

    <h3><b>KAZI SHAHADAT HOSSAIN UDAY</b></h3>
    <h5>E-mail :<i>shahadathossaindark@gmail.com</i></h5>
    <h5>Mobile :<i>01744666587</i></h5>

    <h3><b>RAHMAN KHAN</b></h3>
    <h5>E-mail :<i>rahman@gmail.com</i></h5>
    <h5>Mobile :<i>01716507469</i></h5>
    

</div>

