@model IEnumerable<HotelEntity.Hotelinfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
                      <link href="~/Content/css/indexStyle.css" rel="stylesheet" />
                      <div style="width:100%;">


                          <div id="flipkart-navbar">
                              <div class="container">
                                  <div class="row row1">

                                  </div>
                                  <div class="row row2">
                                      <div class="col-sm-2">

                                          <h1 style="margin:0px;"><span class="largenav">Hotel</span></h1>
                                      </div>
                                      <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                                          <div class="row">

                                              @using (Html.BeginForm("Index", "Home"))
                                              {
                                                  <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Search for hotel" name="search">
                                                  <button class="flipkart-navbar-button col-xs-1">
                                                      <svg width="15px" height="15px">
                                                          <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                                                      </svg>
                                                  </button>

                                              }
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                      <table class="table" style="width:70%;margin-left:17%;">
                          <tr>
                              <th>
                                  <h4><b>Hotel Name</b></h4>
                              </th>
                              <th>
                                  <h4><b>Star Rating</b></h4>
                              </th>
                              <th>
                                  <h4><b>District</b></h4>
                              </th>
                              <th>
                                  <h4><b>Detail</b></h4>
                              </th>
                              <th>
                                  <h4><b>Booking Option</b></h4>
                              </th>
                          </tr>

                          @foreach (var item in Model)
                          {
                              <tr>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.hotelName)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.rating)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.area)
                                  </td>
                                  <td>
                                      <a href="/Home/Detail/@item.id">Detail</a>
                                  </td>
                                  <td>
                                      @{
                              if (item.status == "Yes")
                              {
                                  <p><a href="/Home/Booking/@item.id">Booking</a></p>
                              }
                              else
                              { <p style="color:red">No Booking</p>}
                                      }
                                  </td>
                              </tr>
                          }

                      </table>

